.par1{
  font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
font-size: 218px;
text-align: left;
line-height: 215px;
padding-top: 80px;
padding-left: 85px;
padding-right: 85px;
padding-bottom: 0px;
margin: 0px 0px 0px 0px;
}
.par2{
  font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;
font-size: 200px;
text-align: right;
}
.par3{
font-weight: lighter;
text-align: left;
margin-left: 100px;
padding-left: 160px;
font-size: 29px;
}
