.contact__container {
  margin-top: 50px;
  padding: 40px;
  margin-bottom: 50px;
}

.contact__mail {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #202020;
}

.contact__mail:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  transition: 300ms ease-in-out;
}

.contact__title__arrow {
  -webkit-transform: rotate(45deg) scale(0.6);
  transform: rotate(45deg) scale(0.6);
  margin-bottom: -33px;
  margin-left: -10px;
}

@media screen and (max-width: 480px) {
  .contact__container {
    margin-top: 0px;
    padding: 20px;
  }
  .contact__tile,
  h1 {
    font-size: 25px;
    padding-right: 10px;
    line-height: 35px;
  }
  .contact__title__arrow {
    margin-bottom: -10px;
    margin-left: -15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact__tile,
  h1 {
    font-size: 75px;
  }
  .contact__title__arrow {
    margin-bottom: -10px;
    margin-left: -4px;
  }
}
